@font-face {
   font-family: 'Bebas Neue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/melan/Documents/2021-2/biodise%C3%B1o/fonts/Bebas Neue/regular.ttf') format('truetype');
}
