@font-face {
   font-family: 'Architects Daughter';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Bio%202/fonts/Architects Daughter/regular.ttf') format('truetype');
}
